html,
body {
    margin: 0;
    padding: 0;
    font-family: "Arial";
    /* 'Georgia', serif */
    width: 100%;
}

#all-wrapper {
    width: 100%;
    max-width: 1080px;
    background-color: #ffffff;
    box-sizing: border-box;
}

@media only screen and (max-width: 600px) {
    #all-wrapper {
        padding: 0 16px 16px 16px;
    }
}

#all-wrapper h1 {
    color: #1c4587;
    font-weight: 700;
    font-size: 50pt;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    border-bottom-color: #1c4587;
    border-bottom-width: 3pt;
    border-bottom-style: solid;
}

#all-wrapper h2 {
    padding-top: 5pt;
    margin: 3px 0 3px 0;
    border-bottom-color: #1c4587;
    border-bottom-width: 3pt;
    padding-bottom: 2pt;
    line-height: 1.15;
    border-bottom-style: solid;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
    background-color: #ffffaa;
    font-size: 30pt;
    color: #1c4587;
    font-weight: 700;
}

#all-wrapper h3 {
    padding-top: 16pt;
    border-bottom-color: #1c4587;
    border-bottom-width: 3pt;
    padding-bottom: 2pt;
    line-height: 1.15;
    border-bottom-style: solid;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
    font-size: 16pt;
    color: #1c4587;
    font-weight: 700;
}

#all-wrapper h4 {
    padding-top: 14pt;
    border-bottom-color: #1c4587;
    border-bottom-width: 1pt;
    padding-bottom: 3pt;
    line-height: 1.15;
    border-bottom-style: solid;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
    font-size: 14pt;
    color: #1c4587;
    font-weight: 700;
}

#all-wrapper p {
    font-size: 1em;
    margin: 3px 0 3px 0;
}

#all-wrapper img {
    max-width: 100%;
    width: 100%;
}

#all-wrapper ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#all-wrapper ul li {
    margin: 10px 0;
    padding-left: 1em;
}

#all-wrapper ul li a {
    text-decoration: none;
    font-weight: bold;
    font-size: 1em;
}

#all-wrapper ul li a:hover {
    text-decoration: underline;
}

#all-wrapper .page-break {
    page-break-before: always;
    break-before: page;
}
